.Sidebar-link {
    transition: all 0.4s;
}

.Sidebar-link:hover {
    background-color: #515b6c;
    border-radius: 5px;
}

.Current {
    background-color: #1a8b57;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all 0.3s;
}

.Current:hover {
    background-color: #2f9968;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transform: translateY(-1px);
}